
header {
  text-align: center;
  font-family: Verdana;
  font-size: 40px;
  color: green;
}

img {
  width: 200px;
}

.group {
  display: flex;
  flex-direction: row;
}

.item {
  margin: 20px;
}

p {
 font-size: 14px;
 font-family: Optima;
}

@media all and (min-width: 800px) {
  p {
    font-size: 16px;
  }
}    
